window.JST = {};

window.JST['propertyTemplate'] = "<img src= '<%%= photo %>'/><ul><li><%%= address %></li><li><%%= city %></li><li><%%= state %></li><li><%%= zip %></li></ul><button class='delete'>Delete</button>"
